**/example/
**/.cxx/
**/*.iml
**/.dart_tool/
**/build/
**/.idea/
*.log
*.lock
**/*.lock
**/cmake-build-debug/
**/pubspec_overrides.yaml
**/xcuserdata/
**/.DS_Store
**/DerivedData/
**/Pods/
**/.symlinks/
