fluorite_core/target/
fluorescent/examples/functional_test_app/build/
fluorescent/examples/functional_test_app/.dart_tool/
fluorescent/examples/functional_test_app/macos/
fluorescent/examples/functional_test_app/linux/
fluorescent/examples/functional_test_app/ios/
fluorescent/examples/functional_test_app/android/
fluorescent/examples/functional_test_app/windows/
fluorescent/examples/functional_test_app/web/
