**/.dart_tool/
**/build/
**/*.iml
**/.symlinks/
.idea/
*.log
*.lock
**/*.lock
pubspec.lock
**/.cxx/
**/cmake-build-debug/
**/pubspec_overrides.yaml
**/xcuserdata/
**/.DS_Store
**/DerivedData/
**/Pods/

packages/fluorescent_ecs/example/

